<div>&nbsp;</div>
<table class="table table-bordered">
  <thead class="bg-info">
    <tr>
      <th class="sort-th" *ngFor="let key of keys" (click)="sort(key)">
        {{ key }}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let key of keys">
        <input [(ngModel)]="newRow[key]" type="text" class="form-control">
      </td>
      <td>
        <div class="btn-group">
          <button (click)="dataAdd(newRow)" class="btn btn-danger">add</button>
        </div>
      </td>
    </tr>
    <tr *ngFor="let row of tableData">
      <td *ngFor="let key of keys">
        <input [(ngModel)]="row.data[key]" type="text" class="form-control">
      </td>
      <td>
        <div class="btn-group">
          <button (click)="dataUpdate(row)" class="btn btn-info">update</button>
          <button (click)="dataDelete(row.key)" class="btn btn-danger">delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
