th,
td {
  border: none;
}

.colored-thead {
  background: rgba(249, 236, 31, 0.7);
}

.sort-th span {
  display: none;
}

.sort-th span.show {
  display: inline;
}

.sort-th {
  cursor: pointer;
}

.sort-th:hover {
  background-color: rgba(43, 154, 46, 0.7);
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.alli-yellow {
  border-color: rgba(249, 236, 31, 1);
}
