tr:hover {
  background: lightblue;
}

.table-striped tbody tr:nth-of-type(odd):hover {
  background: lightblue;
}

#titles-of-table:hover {
  background: transparent;
}

#titles-of-table th:hover {
  cursor: pointer;
}
