<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
    <form (ngSubmit)="login()" *ngIf="!user">
      <div class="form-group text-left">
        <label for="email">Email</label>
        <input [(ngModel)]="loginData.email" class="form-control" type="text" name="email" id="email">
      </div>
      <div class="form-group text-left">
        <label for="pass">Password</label>
        <input [(ngModel)]="loginData.pass" class="form-control" type="password" name="pass" id="pass">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12 sirenContainer">
    <div id="copSiren">
      <div id="blueLight"></div>
      <div id="redLight"></div>
    </div>
  </div>
</div>
<div class="row" *ngIf="user">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr id="titles-of-table">
          <th class="sort-th text-center" *ngFor="let key of keys" (click)="sort(key)">
            <span [class.show]="sorts[key] == 'down'">
              <!-- <i class="fas fa-sort-amount-down"></i> -->
            </span>
            <span [class.show]="sorts[key] == 'up'">
              <!-- <i class="fas fa-sort-amount-up"></i> -->
            </span>
            {{ key }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let key of keys">
            <input class="form-control addNew" type="text" [(ngModel)]="newRow[key]">
          </td>
          <td>
            <div class="btn-group">
              <button (click)="dataAdd(newRow)" class="btn btn-success col-6">Add New</button>
              <button (click)="randomAdd()" class="btn btn-dark col-6">Random</button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let key of keys">
            <input [(ngModel)]="row.data[key]" class="form-control tableinput" type="text">
          </td>
          <td>
            <div class="btn-group">
              <button (click)="dataUpdate(row)" class="btn btn-primary col-6">Update</button>
              <button (click)="dataDelete(row.key)" class="btn btn-danger col-6">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
