body {
  overflow-x: hidden;
}

tr:hover {
  background: lightblue;
}

.table-striped tbody tr:nth-of-type(odd):hover {
  background: lightblue;
}

#titles-of-table:hover {
  background: transparent;
}

#titles-of-table th:hover {
  cursor: pointer;
}

/* cop siren animation */

#copSiren {
  width: 160px;
  height: 4vh;
  z-index: 1000;
  background: url("copsiren.svg") no-repeat;
  position: relative;
  top: -40px;
  left: 82%;
}

#blueLight {
  width: 45px;
  height: 20px;
  background: transparent;
  border-radius: 50px;
  position: relative;
  left: 10px;
  top: 4px;
  box-shadow: 0 0 55px #0640DA, inset 0 0 55px rgba(6, 63, 218, 0.514);
  animation: lightsBlue 1s linear infinite;
}

@keyframes lightsBlue {
  0% {
    box-shadow: 0 0 55px #0640DA, 0 0 55px #0640DA, inset 0 0 55px rgba(6, 63, 218, 0.479);
  }
  50% {
    box-shadow: 0 0 55px rgba(6, 63, 218, 0), 0 0 55px rgba(6, 63, 218, 0), inset 0 0 55px rgba(6, 63, 218, 0);
  }
  100% {
    box-shadow: 0 0 55px #0640DA, 0 0 55px #0640DA, inset 0 0 55px rgba(6, 63, 218, 0.534);
  }
}

#redLight {
  width: 45px;
  height: 20px;
  background: transparent;
  border-radius: 50px;
  position: relative;
  left: 108px;
  top: -16px;
  box-shadow: 0 0 55px rgb(255, 70, 64), inset 0 0 55px rgba(255, 70, 64, 0.473);
  animation: lightsRed 1s linear infinite;
}

@keyframes lightsRed {
  0% {
    box-shadow: 0 0 55px rgba(255, 70, 64, 0), 0 0 55px rgba(255, 70, 64, 0), inset 0 0 55px rgba(255, 70, 64, 0);
  }
  50% {
    box-shadow: 0 0 55px rgb(255, 70, 64), 0 0 55px rgb(255, 70, 64), inset 0 0 55px rgba(255, 70, 64, 0.507);
  }
  100% {
    box-shadow: 0 0 55px rgba(255, 70, 64, 0), 0 0 55px rgba(255, 70, 64, 0), inset 0 0 55px rgba(255, 70, 64, 0);
  }
}

.sirenContainer {
  height: 0vh;
}
