<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="register" class="navbar-brand" href="/">Nyilvántartás</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="users" class="nav-link" href="/">Felhasználók
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="vehicles" class="nav-link" href="/">Járművek</a>
      </li>
      <li class="nav-item">
        <a routerLink="drivers" class="nav-link" href="/">Sofőrök</a>
      </li>
      <li class="nav-item">
        <a routerLink="fueling" class="nav-link" href="/">Tankolások</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Keresés">
      <button class="btn btn-outline-info" type="submit">Keresés</button>
      <button (click)="logout()" class="btn btn-warning">Logout</button>
    </form>
  </div>
</nav>
