<div class="car">
  <img src="http://www.freepngimg.com/download/lamborghini/4-2-lamborghini-png-clipart.png" [ngStyle]="{'animation-name': car, 'animation-duration': '1s'}">
</div>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Person ID</th>
    <th>Car ID</th>
    <th>When</th>
    <th>Distance(km)</th>
    <th>Act cons.(l)</th>
    <th>PS. ID</th>
    <th>Cost</th>
    <th>#</th>
  </thead>
  <tbody [ngStyle]="{'animation-name': 'table', 'animation-duration': '2s'}">

    <tr>
      <td>{{maxID}}</td>
      <td>
        <select [(ngModel)]="drive" class="custom-select">
          <option *ngFor="let us of users" value="{{us.key+','+us.adat.id+','+us.adat.money}}">{{us.adat.firstName+" "+us.adat.lastName+": "+us.adat.money+"FT"}}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="cons" class="custom-select">
          <option *ngFor="let car of cars" value="{{car.adat.id+','+car.adat.avgConsumption+','+car.adat.motorType+','+car.adat.actfuel+','+car.key}}">{{car.adat.type}}</option>
        </select>
      </td>
      <td>
        <input type="date" [(ngModel)]="newTrip.date" class="form-control">
      </td>
      <td>
        <input type="text" [(ngModel)]="newTrip.distance" class="form-control">
      </td>
      <td>
        Consumption:
        <span *ngIf="cons"> {{(newTrip.distance/100*cons.split(",")[1]).toFixed(2)}} l </span>
      </td>
      <td>
        <select [(ngModel)]="stat" class="custom-select">
          <option *ngFor="let station of ps" value="{{station.adat.Id+','+station.adat['Diesel (HUF)']+','+station.adat['Petrol (HUF)']}}">{{station.adat.Company}} - {{station.adat.Location}}</option>
        </select>
      </td>
      <td>
        <!-- <span *ngIf="cons && stat"> {{(newTrip.distance/100*cons.split(",")[1]*stat.split(",")[2]).toFixed(2)}} Ft</span> -->
        <span *ngIf="cons && stat">
          {{cons.split(",")[2]=="benzin"?(newTrip.distance/100*cons.split(",")[1]*stat.split(",")[2]).toFixed(2):(newTrip.distance/100*cons.split(",")[1]*stat.split(",")[1]).toFixed(2)}}
          Ft </span>
      </td>
      <td>
        <button class="btn btn-block btn-success" (click)="save()" [disabled]="car">GO</button>
      </td>
    </tr>
    <tr *ngFor="let row of data" (mouseenter)="details(row)">
      <td>{{row.adat.id}}</td>
      <td>{{row.adat.personId}}</td>
      <td>{{row.adat.carId}}</td>
      <td>{{row.adat.date}}</td>
      <td>{{row.adat.distance}}</td>
      <td>{{row.adat.actConsumption}}</td>
      <td>{{row.adat.pstationIds}}</td>
      <td>{{row.adat.cost}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-danger btn-block" (click)="deleteRow(row.key)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="container ">
  <!-- <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary">More about Car</button>
      <button class="btn btn-warning">More about Petrol Station</button>
      <button class="btn btn-success">More about Driver</button>
    </div>
  </div> -->
  <div *ngIf="list" class="row bg-light" [ngStyle]="{'animation-name': 'extra', 'animation-duration': '2s'}">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item active">Driver</li>
        <li class="list-group-item">Lastname: {{more.user.firstName}}</li>
        <li class="list-group-item">Firstname: {{more.user.lastName}}</li>
        <li class="list-group-item">Money: {{more.user.money}}FT</li>
        <li class="list-group-item">City: {{more.user.city}}</li>
        <li class="list-group-item">Email: {{more.user.email}}</li>

      </ul>
    </div>
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item active">Car</li>
        <li class="list-group-item">Type: {{more.car.type}}</li>
        <li class="list-group-item">Tank: {{more.car.tank}} l</li>
        <li class="list-group-item">Actual Fuel: {{more.car.actfuel}} l
          <div id="myProgress">
            <p id="myBar" [ngStyle]="{'width': more.car.actfuel/more.car.tank*100+'%','transition':'2s'}"></p>
            <p class="text-center">{{(more.car.actfuel/more.car.tank*100).toFixed(0)}}%</p>
          </div>
        </li>
        <li class="list-group-item">Avg Consumption: {{more.car.avgConsumption}} l/100km</li>
        <li class="list-group-item">MotorType: {{more.car.motorType}}</li>

      </ul>
    </div>
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item active">Petrol Station</li>
        <li class="list-group-item">{{more.ps.Company}}</li>
        <li class="list-group-item">Location:
          <br> {{more.ps.Location}}</li>
        <li class="list-group-item">Petrol Price: {{more.ps['Petrol (HUF)']}} Ft</li>
        <li class="list-group-item">Diesel Price: {{more.ps['Diesel (HUF)']}} Ft</li>

      </ul>
    </div>
  </div>
</div>
