<!--The content below is only a placeholder and can be replaced.-->
<div class="conatiner" *ngIf="!user">
  <div class="row">
    <div class="col-6 offset-3">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" name="email" [(ngModel)]="loginData.email" type="text" id="email">
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input class="form-control" type="text" name="pass" [(ngModel)]="loginData.pass" id="pass">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="user">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="cars">Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="trips">Trips</a>
        <a class="nav-item nav-link" routerLink="pstations">Petrol Stations</a>
        <a class="nav-item nav-link" routerLink="people">People</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
