<!--The content below is only a placeholder and can be replaced.-->
<div class="conatiner">
  <div class="row">
    <div class="col-6 offset-3">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" name="email" [(ngModel)]="loginData.email" type="text" id="email">
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input class="form-control" type="text" name="pass" [(ngModel)]="loginData.pass" id="pass">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<app-cars></app-cars>
<app-trips></app-trips>
<app-people></app-people>
<app-pstations></app-pstations>
