<div *ngIf="user">


  <table class="table table-sm">
    <thead class="colored-thead">
      <tr>
        <th class="sort-th" *ngFor="let key of keys" (click)="sort(key)">
          {{ key }}
          <span *ngIf="sorts[key] == 'up'">
            <i class="fas fa-angle-down"></i>
          </span>
          <span *ngIf="sorts[key] == 'down'">
            <i class="fas fa-angle-up"></i>
          </span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- A táblázat első fix sorában adjuk hozzá az új rekordokat. -->
      <tr>
        <!-- Bejárjuk a kulcsok tömbjét, és annak alapján jelenítjük meg a mezőket. -->
        <td *ngFor="let key of keys">
          <!-- A newRow objektumban tárolom az új rekord adatait. -->
          <input [(ngModel)]="newRow[key]" type="text" class="form-control">
        </td>
        <td>
          <div class="btn-group">
            <!-- Kattintásra átadom az új rekord adatait a dataAdd metódusnak. -->
            <button (click)="dataAdd(newRow)" class="btn btn-outline-success alli-yellow">add</button>
          </div>
        </td>

      </tr>
      <!-- Az ngFor direktíva bejárja a tableData tömböt. -->
      <tr *ngFor="let row of tableData">
        <!-- A megjelenítéshez a kulcsok tömbjét járjuk be. -->
        <td *ngFor="let key of keys">
          <!-- A key pld ilyen értékeket vesz fel: name, address, status ...
            Például a row.data[key] értéke a row.data.name, ha a key = 'name'.
            Ezt a tulajdonságot, összekötöm az ngModel segítségével az input elemmel. -->
          <input [(ngModel)]="row.data[key]" type="text" class="form-control">
        </td>
        <td>
          <!-- A gombcsoport segítségével módosítom vagy törlöm az adatokat. -->
          <div class="btn-group">
            <!-- Módosítás: kattintás hatására meghívom a dataUpdate metódust és
              átadom neki az adott adat-sort. -->
            <button (click)="dataUpdate(row)" class="btn btn-outline-success alli-yellow">update</button>
            <!-- gombnyomásra kiynilik az aktuális sor modalban -->
            <button (click)="modalData(row)" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ModalCenter">
              More </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: linear-gradient(to right, rgba(249,236,31,1), rgba(43,154,46,1));">
        <h5 class="modal-title" id="ModalLongTitle">{{actualRow.address}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-stripes">
          <tbody>
            <tr>
              <td>Identification</td>
              <td>
                {{actualRow.id}}
              </td>
            </tr>
            <tr>
              <td>Price</td>
              <td>
                {{actualRow.price/1e6}}M Ft
              </td>
            </tr>
            <tr>
              <td>Price per m&#178;
              </td>
              <td>
                {{actualRow.specificPrice}} Ft
              </td>
            </tr>
            <tr>
              <td>Margin</td>
              <td>
                {{actualRow.margin}}%
              </td>
            </tr>
            <tr *ngIf="actualRow.status=='sold'">
              <td>Gross income</td>
              <td>
                {{actualRow.grossIncome}}Ft
              </td>
            </tr>
            <tr *ngIf="actualRow.status!='sold'">
              <td>Expected gross income</td>
              <td>
                {{actualRow.grossIncome}}Ft
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success alli-yellow" data-dismiss="modal">Close</button>
        <!-- Törlés: kattintás hatására meghívom a dataDelete metódust és
              átadom neki az adott adat-sorban található kulcsot, azaz a student
              adatbázis kulcsát. -->
        <button (click)="dataDelete(actualRow.key)" data-dismiss="modal" class="btn btn-outline-success">Delete estate</button>
      </div>
    </div>
  </div>
</div>
