
nav {
    height: 50px;
    background: midnightblue;
    box-shadow: 0 5px 5px rgb(185, 185, 185);
    color: white;
    padding-top: 5px;
}

a.nav-link {
    color: white;
    /* background: rgb(85, 72, 165);
    box-shadow: 0 0 0 5px rgb(85, 72, 165); */
    border-radius: 0;
    transition-duration: .3s;
    width: 100px;
    margin:4px;
}

a.nav-link:hover, a.nav-link.active:hover{
    background: rgb(20, 84, 168);
    box-shadow: 0 0 0 5px rgb(20, 84, 168);
}
a.nav-link.active{
    background: rgb(15, 66, 133);
    box-shadow: 0 0 0 5px rgb(15, 66, 133);
}
