<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
    <form (ngSubmit)="login()" *ngIf="!user">
      <div class="form-group text-left">
        <label for="email">Email</label>
        <input [(ngModel)]="loginData.email" class="form-control" type="text" name="email" id="email">
      </div>
      <div class="form-group text-left">
        <label for="pass">Password</label>
        <input [(ngModel)]="loginData.pass" class="form-control" type="password" name="pass" id="pass">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
    </form>
  </div>
</div>


<div class="row" *ngIf="user">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th class="sort-th {{key}}" *ngFor="let key of keys, let i = index" (click)="sortingService.sortIt(key, this.tableData, this.sorts)">
            <span class="sort-sign" [class.show]="sorts[key] == 'down'">
              <i class="fas fa-sort-down"></i>
            </span>
            <span class="sort-sign" [class.show]="sorts[key] == 'up'">
              <i class="fas fa-sort-up"></i>
            </span>
            {{ keysAlias[i] }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let key of keys">
            <div *ngIf="key != 'picture'">
              <input class="form-control addNew" type="text" [(ngModel)]="newRow[key]">
            </div>
            <div *ngIf="key == 'picture'">
              <input #newFile (change)="changeLog(newFile)" class="form-control addNew" type="file">
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button (click)="dataAdd(newRow)" class="btn btn-success col-6">Add New</button>
              <button (click)="randomAdd()" class="btn btn-dark col-6">Random</button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let key of keys">
            <div class="input-group">
              <div *ngIf="key == 'price'" class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input [(ngModel)]="row.data[key]" class="form-control tableinput" type="text">
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button (click)="openModal(row)" class="btn btn-primary col-6">Preview</button>
              <button (click)="dataUpdate(row)" class="btn btn-secondary col-6">Update</button>
              <button (click)="dataDelete(row.key)" class="btn btn-danger btn-sm col-2">X</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- MODAL -->
<div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <img src="../../assets/product-pictures/{{modalArray[0].picture}}" alt="product-picture">
        </div>
        <div>
          <h3>{{modalArray[0].productName}}</h3>
          <h2>$ {{modalArray[0].price}}</h2>
          <p>{{modalArray[0].details}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>