
th.picture {
    width: 15%;
}
th.productName {
    width: 15%;
}


img {
    width:400px;
}

tbody tr:hover {
    background: lightblue;
  }
  
  .table-striped tbody tr:nth-of-type(even):hover {
    background: lightblue;
  }

  
  th:hover {
    cursor: pointer;
  }
  