<div class="row">
  <div class="col-6 offset-3">
    <form (ngSubmit)="login()" *ngIf="!user">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" [(ngModel)]="loginData.email" type="text" id="email">
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input class="form-control" type="text" name="pass" [(ngModel)]="loginData.pass" id="pass">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        Login
      </button>
    </form>
  </div>
</div>
<div class="row" *ngIf="user">
  <table class="table">
    <thead>
      <tr>
        <th class="sort-th" *ngFor="let key of keys" (click)="sort(key)">
          <span [class.show]="sorts[key] == 'down'">
            <i class="fas fa-sort-down"></i>
          </span>
          <span [class.show]="sorts[key] == 'up'">
            <i class="fas fa-sort-up"></i>
          </span>
          {{ key }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- A táblázat első fix sorában adjuk hozzá az új rekordokat. -->
      <tr>
        <!-- Bejárjuk a kulcsok tömbjét, és annak alapján jelenítjük meg a mezőket. -->
        <td *ngFor="let key of keys">
          <!-- A newRow objektumban tárolom az új rekord adatait. -->
          <input [(ngModel)]="newRow[key]" type="text" class="form-control">
        </td>
        <td>
          <div class="btn-group">
            <!-- Kattintásra átadom az új rekord adatait a dataAdd metódusnak. -->
            <button (click)="dataAdd(newRow)" class="btn btn-danger">add</button>
          </div>
        </td>
      </tr>
      <!-- Az ngFor direktíva bejárja a tableData tömböt. -->
      <tr *ngFor="let row of tableData">
        <!-- A megjelenítéshez a kulcsok tömbjét járjuk be. -->
        <td *ngFor="let key of keys">
          <!-- A key pld ilyen értékeket vesz fel: name, address, status ...
              Például a row.data[key] értéke a row.data.name, ha a key = 'name'.
              Ezt a tulajdonságot, összekötöm az ngModel segítségével az input elemmel. -->
          <input [(ngModel)]="row.data[key]" type="text" class="form-control">
        </td>
        <td>
          <!-- A gombcsoport segítségével módosítom vagy törlöm az adatokat. -->
          <div class="btn-group">
            <!-- Módosítás: kattintás hatására meghívom a dataUpdate metódust és
                átadom neki az adott adat-sort. -->
            <button (click)="dataUpdate(row)" class="btn btn-primary">update</button>
            <!-- Törlés: kattintás hatására meghívom a dataDelete metódust és
                átadom neki az adott adat-sorban található kulcsot, azaz a student
                adatbázis kulcsát. -->
            <button (click)="dataDelete(row.key)" class="btn btn-danger">delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
