<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="table">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th *ngFor="let key of keys" (click)="sortTable(key)" class="sortKey">
                {{ getHuman(key) }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let key of keys">
                <input [(ngModel)]="newRow[key]" type="text" class="form-control">
              </td>
              <td>
                <div>
                  <button type="button" (click)="dataAdd(newRow)" class="btn btn-success btn-block">New Person</button>
                </div>
              </td>
            </tr>
            <tr *ngFor="let row of tableData">
              <td *ngFor="let key of keys">
                <input [(ngModel)]="row.adat[key]" type="text" class="form-control">
              </td>
              <td>
                <div class="btn-group">
                  <button (click)="dataUpdate(row)" class="btn btn-primary">Update</button>
                  <button (click)="dataDelete(row.key)" class="btn btn-danger">Delete</button>
                  <button (click)="creditUpload(row.key)" class="btn btn-success">Credit &#10138;</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
